body{
background-color:#edb;

}

div#navigator{
float:center;
width:65%;
text-align:center;
margin-left:auto;
margin-right:auto;
}

div#contents{
text-align:center;
float:center;
width:65%;
margin-top:10px;
margin-left:auto;
margin-right:auto;
border-style:solid;
border-width:thin;
padding:5px;
}

h1{
font-size:30px;
text-align:left;
}
p{
text-align:left;
}
footer{
text-align:center;
}


address{
text-align:left;
margin-bottom:2%;
}
cite{
font-family:KaiTi;
}
q{
font-family:KaiTi;
}
quote{
font-family:KaiTi;
}
ul{
text-align:left;
}
img{
float:left;
margin-right:3px;
margin-bottom:2px;
}

table{
border-top-style:double;
border-bottom-style:double;
border-width:thin;
width:100%;
}

tr{
height:30px;
float:center;
width:60%;

}
th{
border-style:solid;
border-width:thin;
}
td{
border-style:solid;
border-width:thin;

}
td:hover{
background-color:orange;
}

a:hover{
color:blue;
background-color:#ffa500;
}
a{
text-decoration:none;}
a:link{
color:blue;
}
a:visited{
color:purple;
}

