body{
background-color: #FFFFCA;
font-family:sans-serif;
}

div#navigator{
float:center;
width:62%;
text-align:center;
margin-left:auto;
margin-right:auto;
}

div#contents{
background-color:#edb;
text-align:justify;
float:center;
width:61%;
margin-top:10px;
margin-left:auto;
margin-right:auto;
/*border-style:solid;*/
/*border-width:thin;*/
box-shadow:3px 3px gray;
border-radius:1em;
padding:5px;
}
div#motto{
border-style:none;
background-color:#d8bfd8;
box-shadow:3px 3px #666;
border-radius:1em;
height:95px;
}

h1{
font-size:30px;
text-align:left;
}
h2{
text-align:center;
}

footer{
text-align:center;
}


address{
text-align:left;
margin-bottom:2%;
}
cite{
font-family:KaiTi,monospace;
}
q{
font-family:KaiTi,monospace;
}
quote{
font-family:KaiTi,monospace;
}
ul{
text-align:left;
}
img{
float:left;
margin-right:3px;
margin-bottom:2px;
border-radius:1em;
}

table{
border-top-style:double;
border-bottom-style:double;
border-width:thin;
width:100%;
}

tr{
height:30px;
float:center;

}
th{
border-style:solid;
border-width:thin;
border-radius:.2em;
}
td{
border-style:solid;
border-width:thin;
border-radius:.2em;
}
td:hover{
background-color:orange;
}

a:hover{
color:blue;
background-color:#ffa500;
}
a{
text-decoration:none;}
a:link{
color:blue;
}
a:visited{
color:purple;
}
i{
font-family:KaiTi;
}

